html {
    background-color: #D3BAC9;
}

body {
    margin: 0;
    font-family: 'Poppins';
}
header {
    text-transform: uppercase;
}
header ul {
    padding: 60px;
    float: right;
    color: #FCF9E2;
}
header li {
    display: inline-block;
    padding: 10px;
}
header p {
    display: inline-block;
}
/* Animation Section */
#welcome {
    width: 100%;
    height: auto;
    font-size: 30px;
    margin: 0;
    color: black;
    font-weight: lighter;
    background: #FCF9E2;
    text-align: center;
 }
.heroImg {
    background-color:#D3BAC9;
    padding: 20px 20px;
    display: flex;

}
.content {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #D3BAC9;
    text-align: center;
    font-size: 18px;
}
.content h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}
.button {
    background-color: #FCF9E2;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}
/* My UX Skills Section */
.skills {
    background-color: #FCF9E2;
    width: 100%
}
.skills h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    padding: 50px;
}
.flexContainer {
    display: flex;
    padding:0%;
}
.flexContainer div {
    padding: 20px;
    text-align: center;
    flex: 1;
    
}
/* My Work Section */
.myWork {
    padding: 50px;
    grid-area:auto;
    background-color:#D3BAC9;
}
.myWork h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}
.workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas:
    "pathimg workContent1"
    "volunhereimg workContent2"
    "mdcimg workContent3"
}
.button {
    background-color: #FCF9E2;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.workGrid img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
}
.pathimg {
    grid-area: pathimg;
}
.volunhereimg {
    grid-area: volunhereimg;
}
.mdcimg {
    grid-area: mdcimg;
}
.workContent1 {
    grid-area: workContent1;
}
.workContent2 {
    grid-area: workContent2;
}
.workContent3 {
    grid-area: workContent3;
}
.viewProject {
    text-align: center;
    size: 20px;
}
/* Let's Connect Section */
.letsConnect {
    background-color:#FCF9E2;
/*   padding: 20px 20px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "socials logoPink" */
}
.letsConnect h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 50px;
}
.socials {
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "socials logoPink"
}
.logoPink {
    padding: 0px; 
    justify-content: right; 
}
.letsConnect ul {
    padding: 40px;
    list-style: none;
    padding: 50px left;
}
.letsConnect li {
    padding: 5px;
}

/* Footer */
.footer {
   background-color: #D3BAC9;
   padding: 60px;
}
footer ul {
    list-style: none;
    padding: 5px;
}
footer li {
    display: inline-block;
    padding: 5px;
}
/* .img {
   max-width: 40%;
} */


@media only screen and (max-width: 600px) {
    .flexContainer { 
        flex-direction: column;
    }
    .flexContainer div {
        width: 100%;
    }  
    .workGrid {
        margin: 0px 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas:
        "pathimg workContent1"
        "volunhereimg workContent2"
        "mdcimg workContent3";
    }
}
